// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#listing a {
  color: #f67280;
}

#index {
  margin-left: 50px;
}

#index li {
  margin-left: 20px;
  padding-bottom: 10px;
  font-size: 20px;
}
